= render partial: 'post', locals: {post: @post}

%section#comments
  %header
    %h3 Comments
  = render partial: 'comment', collection: @post.comments.approved

= render partial: 'new_comment', locals: {post: @post}